* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 600px;
    height: 600px;
    border: 20px solid;
    border-radius: 20px;
    margin: 50px auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 100%;
    overflow: hidden;
    /* z-index: 10; */
}

.cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px; /* Igual que el .container para que coincida */
  background-color: rgba(0, 0, 0, .4); /* Cambia este color u opacidad según lo que quieras */
  z-index: 100;
  pointer-events: auto; /* Opcional: evita que bloquee clics si es solo decorativo */
}

.esq {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    /* margin: 30px auto; */
    border: 10px solid;
    /* border-radius: 100%; */ 
    cursor: pointer;
}

.esq1 {
    background-color: rgb(255, 0, 0);
    border-top: 0;
    border-left: 0;
}

.esq2 {
    background-color: rgb(229, 214, 0);
    border-right: 0;
    border-top: 0;
}

.esq3 {
    background-color: rgb(0, 0, 216);
    border-left: 0;
    border-bottom: 0;
}

.esq4 {
    background-color: rgb(0, 174, 0);
    border-right: 0;
    border-bottom: 0;
}
.start {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    z-index: 200;
}
.roundContainer{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    font-size: 30px;
    z-index: 400;
}
.roundsNumber{
    font-size:40px;
}

.start:hover {
    color: rgba(255, 255, 255, 0.507);
}
.hide{
    display: none;
}
.unhide{
    display: flex;
}

.hoverRed {
    /* box-shadow: 0px 0px 20px 14px red; */
    background-color: rgb(255, 61, 61);
}

.hoverYellow {
    /* box-shadow: 0px 0px 20px 14px yellow; */
    background-color: #ffff01;
}

.hoverBlue {
    /* box-shadow: 0px 0px 20px 14px blue; */
    background-color: blue;
}

.hoverGreen {
    /* box-shadow: 0px 0px 20px 14px green; */
    background-color: rgb(0, 255, 0);
}
/** styles game over options**/

.gameOverContainer{
    margin: 0 auto 50px;
    width: 50%;
    justify-content: center;
    gap: 50px;
    align-items: baseline;
}
.msgGameOver{
    font-size: 30px;
}
.btnTryAgain{
    width: 190px;
    height: 60px;
    background-color: rgb(101, 217, 246);
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

 /* .tooltip::after {
  content: attr(suu);
  position: absolute;
  background-color: black;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 14px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(5px); 
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
}

.tooltip:hover::after {
  opacity: 1;
}

.tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;
} */
